apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres"
  POSTGRES_DB: "postgres"
  MINIO_ACCESS_KEY: "minio"
  MINIO_SECRET_KEY: "minio123"
  DB_POSTGRES_USER: "postgres"
  DB_POSTGRES_HOST: "postgres:5432"
  DB_POSTGRES_PASSWORD: "postgres"
  DB_POSTGRES_DB: "postgres"
