services:
  api: &api
    build:
      context: .
      dockerfile: deploy/docker/Dockerfile
    image: fast-python:${FAST_PYTHON_VERSION:-latest}
    container_name: fast-python-api
    ports:
      - "8000:8000"
    restart: always
    # env_file:
    #   - .env
    environment:
      DB_POSTGRES_HOST: "postgres:5432"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      INSIDE_DOCKER: "true"
    #volumes:
      #- ~/.aws:/root/.aws
      #- .:/app
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully

  db:
    image: postgres:16
    hostname: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
      INSIDE_DOCKER: "true"
    volumes:
      - fast-python-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test:
        - CMD
        - pg_isready
        - -U
        - postgres
      interval: 2s
      timeout: 3s
      retries: 40
    # env_file:
    #   - .env
  migrator:
    <<: *api

    container_name: fast-python-migrator
    environment:
      DB_POSTGRES_HOST: "postgres:5432"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      INSIDE_DOCKER: "true"
    restart: "no"
    command: alembic upgrade head

    ports: []

    healthcheck:
      disable: true

    depends_on:
      db:
        condition: service_healthy
volumes:
  fast-python-db-data:
    name: fast-python-db-data
