name: Update docs

on: #push
  workflow_dispatch:


jobs:
  update_envs:
    permissions:
        contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
          python-version: "3.11.8"
          cache: "poetry"
    - name: Install deps
      run: poetry install --only env-printer
    - name: update-env
      run: poetry run python scripts/update_env_docs.py --table-format markdown --target README.md
    - name: Commit env changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.DOCS_PAT }}
        message: "Updated envs"
        branch: "${{github.ref}}"
